<script src="assets/script/iap.js"></script>

<page-title ng-if="layoutOptions.pageTitles" title="IAP Data" description="Purchases Data"></page-title>

<div class="row">
 <!--Filter box -->
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Filter</h3>
        <div class="panel-options">
          <a href="" data-toggle="panel">
            <span class="collapse-icon">&ndash;</span>
            <span class="expand-icon">+</span>
          </a>
          <a href="" data-toggle="remove">
            &times;
          </a>
        </div>
      </div>
      <div class="panel-body">
        <form role="form" class="form-horizontal validate" id="" name="" method="post">
          <div class="form-group">
            <label class="col-sm-3 control-label">Start Date</label>

            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" class="form-control datepicker" id="startDate" name="startDate" data-validate="required" data-format="yyyy-mm-dd">

                <div class="input-group-addon">
                  <a href=""><i class="linecons-calendar"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">End Date</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" class="form-control datepicker" id="endDate" name="endDate" data-validate="required" data-format="yyyy-mm-dd">

                <div class="input-group-addon">
                  <a href=""><i class="linecons-calendar"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Export to</label>
            <div class="col-sm-9">
              <select class="form-control" id="exportTypeSelect" name="exportTypeSelect" >
                <option value="0">Google Docs</option>
                <option value="1">Download CSV File</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label"></label>
              <div class="col-sm-9">
                <select class="form-control" id="purchaseTypeSelect" name="purchaseTypeSelect" >
                  <option value="0">Valid Purchases</option>
                  <option value="1">All Purchases</option>
                </select>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
 <!--Action box -->
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Actions</h3>
        <div class="panel-options">
          <a href="" data-toggle="panel">
            <span class="collapse-icon">&ndash;</span>
            <span class="expand-icon">+</span>
          </a>
          <a href="" data-toggle="remove">
            &times;
          </a>
        </div>
      </div>

      <div class="panel-body">
        <form role="form" class="form-horizontal validate" id="iapActionForm" name="iapActionForm" method="post">
          <div class="form-group">
            <div class="col-sm-9">
              <button class="btn btn btn-turquoise" id="iapIOSBtn" style="width: 40%">In-App Purchase iOS</button>
              <button class="btn btn btn-turquoise" id="iapAndroidBtn" style="width: 40%">In-App Purchase Android</button>
              <button class="btn btn btn-turquoise" id="newPayingUserBtn" style="width: 40%;margin-left:0">New Paying Users</button>
              <button class="btn btn btn-turquoise" id="uniquePayingUserBtn" style="width: 40%">Unique Paying Users</button>
              <button class="btn btn btn-turquoise" id="totalValidPurchaseBtn" style="width: 82%;margin-left:0">Total Valid Purchases</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<div id="resultWrap">
  <div class="row">

    <!--Result box -->
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Result</h3>
          <div class="panel-options">
            <a href="" data-toggle="panel">
              <span class="collapse-icon">&ndash;</span>
              <span class="expand-icon">+</span>
            </a>
            <a href="" data-toggle="remove">
              &times;
            </a>
          </div>
        </div>

        <div class="panel-body">
          <span id="resultURL"></span>
        </div>
      </div>
    </div>

  </div>
</div>